<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout::head}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion de Ubicaciones</title>
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
  <script src="/js/bootstrap/bootstrap.bundle.js" defer></script>
</head>
<body class="bg-light">
<nav th:insert="~{layout::navbar}"></nav>
<div class="container mt-5">
  <div class="card shadow p-4">
    <h1 class="text-center">AGREGAR UBICACION</h1>
    <form th:action="@{/ubicacion/agregar}" method="post" class="mb-4">
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="nombreUbicacion" class="form-label">Nombre de Ubicación:</label>
          <input type="text" id="nombreUbicacion" name="nombreUbicacion" class="form-control" required>
        </div>
        <div class="col-md-6">
          <label for="descripcionUbicacion" class="form-label">Descripción:</label>
          <input type="text" id="descripcionUbicacion" name="descripcionUbicacion" class="form-control" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="direccionUbicacion" class="form-label">Dirección:</label>
          <input type="text" id="direccionUbicacion" name="direccionUbicacion" class="form-control" required>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
    </form>

    <h2 class="text-center">Lista de Ubicaciones</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
          <th>ID Ubicación</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ubicacion : ${ubicaciones}">
          <td th:text="${ubicacion.idUbicacion}"></td>
          <td th:text="${ubicacion.nombreUbicacion}"></td>
          <td th:text="${ubicacion.descripcionUbicacion}"></td>
          <td th:text="${ubicacion.direccionUbicacion}"></td>
          <td>
            <a class="btn btn-warning btn-sm" th:href="@{/ubicacion/editar/{id}(id=${ubicacion.idUbicacion})}">Editar</a>
            <a class="btn btn-danger btn-sm" th:href="@{/ubicacion/eliminar/{id}(id=${ubicacion.idUbicacion})}">Eliminar</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
